{
    "parser": "babel-eslint",

    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],

    "rules": {
        // overrides
    },
  
    "plugins": ["react", "react-native"],
  
    "env": {
		"react-native/react-native": true,
		"browser": true
    },
}
